<ion-content class="main-view ion-padding">
    <div class="overlay" (click)="dismiss()"></div>
    <div class="modal_content">
        <div class="circle"></div>
        <div class="modal-content">
            <h2>Welcome to Ionic!</h2>
            <p>
                This starter project comes with simple tabs-based layout for apps that are going to primarily use a Tabbed UI.
            </p>
            <p>
                Take a look at the <code>pages/</code> directory to add or change tabs, update any existing page or create new pages.
            </p>

        </div>
    </div>

</ion-content>